<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h4>Contactos</h4>
          <p><strong>Dirección:</strong> KeDulce</p>
          <p><strong>Email:</strong> daniela2000gmail.com</p>
          <p><strong>Teléfono:</strong> +591 60808965</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4>Redes Sociales</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" target="_blank">
                <img src="assets/img/faceboook.jpg" alt="Facebook" class="social-icon"> Facebook
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <img src="assets/img/instagram.jpg" alt="Instagram" class="social-icon"> Instagram
              </a>
            </li>
            <li>
              <a href="https://wa.me/+59176096585" target="_blank">
                <img src="assets/img/whatssap.jpg" alt="Whatsapp" class="social-icon"> Whatsapp
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4>Enlaces Útiles</h4>
          <ul class="list-unstyled">
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Política de privacidad</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
                  <app-agregarsuscripcion></app-agregarsuscripcion>
        </div>
      </div>
    </div>
  </footer>
  