<nav class="navbar navbar-expand-lg" style="background-color: #ff003f; --bs-navbar-padding-y: 1rem;">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="inicio"><strong>KeDulce</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lista">Productos</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acerca De:
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="agregar">Agregar Productos</a></li>
              <li><a class="dropdown-item" href="suscripcion">Lista de Suscripcion</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://wa.me/+59176096585">Contacto</a></li>
            </ul>
        </ul>
        <form class="d-flex">
          <input type="text" class="form-control me-2" placeholder="Buscar productos" [(ngModel)]="terminoBusqueda" name="terminoBusqueda">
          <button class="btn btn-success" type="button" (click)="buscarProductos()">Buscar</button>
        </form>
      </div>
    </div>
  </nav>