<h4>Formularios <small> Template </small></h4>
<hr />
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
  <!-- Formulario -->
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="nombre"
          placeholder="Nombre"
          [class.is-invalid]="nombre.invalid && nombre.touched"
          [(ngModel)]="usuario.nombre"
          required
          minlength="5"
          #nombre="ngModel"
        />
        <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 Letras</small>
      </div>
    </div>
  </div>
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          class="form-control"
          type="text"
          name="apellido"
          placeholder="Apellido"
          [class.is-invalid]="apellido.invalid && apellido.touched"
          [(ngModel)]="usuario.apellido"
          required
          minlength="5"
          #apellido="ngModel"
        />
        <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5 Letras</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input
        class="form-control"
        type="email"
        name="correo"
        placeholder="Correo Electronico"
        [class.is-invalid]="correo.invalid && correo.touched"
        [(ngModel)]="usuario.correo"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        required
        #correo="ngModel"
      />
      <small *ngIf="correo.invalid && correo.touched" class="form-text text-danger">El correo es obligatorio</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select
        class="form-control"
        name="pais"
        [disabled]="paises.length === 0"
        [class.is-invalid]="pais.invalid && pais.touched"
        [(ngModel)]="usuario.pais"
        required
        #pais="ngModel"
      >
        <option *ngFor="let pais of paises" [value]="pais.codigo">
          {{ pais.nombre }}
        </option>
      </select>
      <small 
      *ngIf="pais.invalid && pais.touched" 
      class="form-text text-danger">El pais es obligatorio</small>
    </div>
  </div>
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Genero</label>
      <div class="col-8">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genero"
            value="M"
            [class.is-invalid]="genero.invalid && genero.touched"
            required
            [(ngModel)]="usuario.genero"
            #genero="ngModel"
          />
          <label class="form-check-label">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="genero"
            value="F"
            [class.is-invalid]="genero.invalid && genero.touched"
            [(ngModel)]="usuario.genero"
            #genero="ngModel"
          />
          <label class="form-check-label">Femenino</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary btn-block">Guardar</button>
      </div>
    </div>
  </div>
</form>

<hr />
<h4>Usuarios Añadidos</h4>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe Usados</th>
          <th> Salida </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let usuario of usuarios">
          <tr>
            <td >Nombre : {{usuario.nombre}}</td>
          <td>uppercase</td>
          <td>{{ usuario.nombre | uppercase }}</td>
          </tr>
          <tr>
            <td>Apellido : {{usuario.apellido}}</td>
            <td>uppercase</td>
            <td>{{ usuario.apellido | uppercase }}</td>
          </tr>
          <tr>
            <td>Correo : {{usuario.correo}}</td>
            <td>json</td>
            <td>{{ usuario.correo | json}}</td>
          </tr>
          <tr>
            <td>Pais : {{usuario.pais}}</td>
            <td>json</td>
            <td>{{ usuario.pais | json}}</td>
          </tr>
          <tr>
            <td>Genero : {{usuario.genero}}</td>
            <td>lowercase</td>
            <td>{{ usuario.genero | lowercase }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

