<div class="py-5">
  <h1>
    Buscando: <small>{{ termino }}</small>
  </h1>
  <hr />

  <div class="container">
    <div
      class="row animated fadeIn fast"
      *ngIf="productosFiltrados.length === 0"
    >
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">
          No existen resultados con el término: {{ termino }}
        </div>
      </div>
    </div>

    <div class="row">
      <app-cardsbuscador
        [productosFiltrados]="productosFiltrados"
      ></app-cardsbuscador>
    </div>
  </div>
</div>
